<section class="about-us">
  <div class="container about-us-container">
    <div class="apple-img-border">
      <div class="apple-img">
        <picture>
          <source
            srcset="./images/apple-dsk.png 1x, ./images/apple-dsk-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/apple-tab.png 1x, ./images/apple-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/apple-mob.png 1x, ./images/apple-mob-2x.png 2x"
            media="(max-width: 768px)"
          />
          <img class="apple" src="images/apple-mob.png" alt="green apple" />
        </picture>
      </div>
    </div>
    <div class="about-us-wrap">
      <div class="title-wrap">
        <h2 class="title-about-us">What`s Special About Our Offerings</h2>
        <p class="text-about-us">
          With our platform, you can browse through a diverse selection of
          cuisines and local restaurants, and choose from a variety of dishes
          that cater to your specific taste buds.
        </p>
      </div>
      <ul class="our-advantages">
        <li class="our-advantage">
          <div class="icon-wrap">
            <svg class="icon" width="32" height="32">
              <use href="./images/icons.svg#icon-rocket_launch"></use>
            </svg>
          </div>
          <h3 class="advantage-title">Fasest Delivery</h3>
          <p class="advantage-text">
            Our advanced logistics system and dedicated delivery partners ensure
            that your meals are delivered to you within 30-minutes.
          </p>
        </li>
        <li class="our-advantage">
          <div class="icon-wrap">
            <svg class="icon" width="32" height="32">
              <use href="./images/icons.svg#icon-touch_app"></use>
            </svg>
          </div>
          <h3 class="advantage-title">Easy To Order</h3>
          <p class="advantage-text">
            You can browse through a wide variety of cuisines and restaurants,
            select your favorite meals, and place your order in just a few
            clicks.
          </p>
        </li>
      </ul>
      <button type="button" class="advantage-button">Order Now</button>
    </div>
  </div>
</section>
