<section class="dishes" id="dishes">
  <div class="container dishes-container">
    <h2 class="dishes-title">Some of Our Favorites</h2>
    <p class="dishes-text">Looking for something delicious?</p>
    <ul class="dishes-list">
      <li class="dish">
        <div class="img-border">
          <picture>
            <source
              srcset="
                ./images/gamburger-dsk.png    1x,
                ./images/gamburger-dsk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gamburger-tab.png    1x,
                ./images/gamburger-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gamburger-mob.png    1x,
                ./images/gamburger-mob-2x.png 2x
              "
              media="(max-width: 768px)"
            />
            <img src="./images/gamburger-mob.png" alt="gamburger" width="315" />
          </picture>
        </div>
      </li>
      <li class="dish">
        <div class="img-border">
          <picture>
            <source
              srcset="./images/pasta-dsk.png 1x, ./images/pasta-dsk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/pasta-tab.png 1x, ./images/pasta-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/pasta-mob.png 1x, ./images/pasta-mob-2x.png 2x"
              media="(max-width: 768px)"
            />
            <img src="./images/pasta-mob.png" alt="pasta" width="315" />
          </picture>
        </div>
      </li>
      <li class="dish">
        <div class="img-border">
          <picture>
            <source
              srcset="./images/pizza-dsk.png 1x, ./images/pizza-dsk-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/pizza-tab.png 1x, ./images/pizza-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/pizza-mob.png 1x, ./images/pizza-mob-2x.png 2x"
              media="(max-width: 768px)"
            />
            <img src="./images/pizza-mob.png" alt="pizza" width="315" />
          </picture>
        </div>
      </li>
      <li class="dish">
        <div class="img-border img-border-hidden">
          <picture>
            <source
              srcset="
                ./images/chicken-dsk.png    1x,
                ./images/chicken-dsk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/chicken-tab.png    1x,
                ./images/chicken-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="chicken"
              src="./images/chicken-tab.png"
              alt="chicken"
              width="315"
            />
          </picture>
        </div>
      </li>
      <li class="dish">
        <div class="img-border img-border-hidden">
          <picture>
            <source
              srcset="
                ./images/salad-with-salmon-dsk.png    1x,
                ./images/salad-with-salmon-dsk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/salad-with-salmon-tab.png    1x,
                ./images/salad-with-salmon-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="salad-with-salmon"
              src="./images/salad-with-salmon-tab.png"
              alt="salad-with-salmon"
              width="315"
            />
          </picture>
        </div>
      </li>
      <li class="dish">
        <div class="img-border img-border-hidden">
          <picture>
            <source
              srcset="
                ./images/borshch-dsk.png    1x,
                ./images/borshch-dsk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/borshch-tab.png    1x,
                ./images/borshch-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="borshch"
              src="./images/borshch-tab.png"
              alt="borshch"
              width="315"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
