<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <div class="footer-nav-wrap">
        <a class="logo-footer" href="./index.html"
          ><img src="./images/logo.svg" alt="logo"
        /></a>
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li><a class="footer-nav-link" href="./index.html">Home</a></li>
            <li><a class="footer-nav-link" href="#about-us">About</a></li>
            <li><a class="footer-nav-link" href="#start">Service</a></li>
            <li><a class="footer-nav-link" href="#dishes">Menu</a></li>
            <li><a class="footer-nav-link" href="#order">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-input-wrap">
        <p class="footer-input-label">Subscribe</p>
        <div class="input-btn-wrap">
          <input
            class="footer-input"
            type="email"
            placeholder="Enter your email"
            name="user-email"
          />
          <button class="footer-button" type="submit">Subscribe</button>
        </div>
        <p class="footer-input-text">
          By subscribing you agree to with our
          <a class="footer-link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="right-wrap">
      <div class="right-wrap-links">
        <a class="footer-link" href="">Privacy Policy</a>
        <a class="footer-link" href="">Terms of Service</a>
        <a class="footer-link" href="">Cookies Settings</a>
      </div>
      <p class="right-text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
