<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">What our Customers Say</h2>
    <p class="reviews-text">
      Don't just take our word for it - see what our satisfied customers have to
      say
    </p>
    <div class="review-wrap-container">
      <div class="review-wrap">
        <div class="stars-wrap">
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="review-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="person-wrap">
          <img
            srcset="./images/user1.png 1x, ./images/user1-2x.png 2x"
            src="./images/user1.png"
            width="48"
            height="49"
            alt="Men in a grey costume"
          />
          <div class="person">
            <h3 class="reviewers-name">Sumith Shah</h3>
            <p class="reviewers-text">Some Dude</p>
          </div>
        </div>
      </div>
      <div class="review-wrap">
        <div class="stars-wrap">
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="star-icon" width="17" height="18">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="review-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="person-wrap">
          <img
            srcset="./images/user2.png 1x, ./images/user2-2x.png 2x"
            src="./images/user2.png"
            width="48"
            height="49"
            alt="Women in a yellow shirt"
          />
          <div class="person">
            <h3 class="reviewers-name">Sumith Shah</h3>
            <p class="reviewers-text">Some Dude</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
