<section class="start">
  <div class="container start-container">
    <div class="start-text-wrap">
      <h1 class="start-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="start-text">
        With just a few clicks, you can have your favorite meals delivered
        straight to your doorstep, no matter where you are. Order now and enjoy
        a hassle-free and delicious meal from the comfort of your own home.
      </p>
      <button class="main-button-start" type="button" data-modal-open>
        Order Now
      </button>
    </div>
    <div class="salad-border">
      <div class="single-item">
        <div>
          <picture>
            <source
              srcset="
                ./images/main-dish-dsk.png    1x,
                ./images/main-dish-dsk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main-dish-tab.png    1x,
                ./images/main-dish-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="start-salad"
              src="images/main-dish-tab.png"
              alt="plate of salad"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main-dish2-dsk.png    1x,
                ./images/main-dish2-dsk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main-dish2-tab.png    1x,
                ./images/main-dish2-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="start-salad"
              src="images/main-dish2-tab.png"
              alt="meat balls"
            />
          </picture>
        </div>
        <div>
          <picture>
            <source
              srcset="
                ./images/main-dish3-dsk.png    1x,
                ./images/main-dish3-dsk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/main-dish3-tab.png    1x,
                ./images/main-dish3-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="start-salad"
              src="images/main-dish3-tab.png"
              alt="plate of healthy food"
            />
          </picture>
        </div>
      </div>
      <div class="click-wrap-left">
        <button class="slick-prev">
          <svg width="12" height="22">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </div>
      <div class="click-wrap-right">
        <button class="slick-next">
          <svg class="next" width="12" height="22">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
