.footer-container {
  position: relative;

  padding-top: 64px;
  padding-bottom: 60px;
  background-image: url(../images/fruit-bckg-mob.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2) {
  .footer-container {
    background-size: contain;
    background-image: url(../images/fruit-bckg-mob-2x.jpg);
  }
}

.logo-footer {
  position: absolute;

  top: 60px;
  left: 20px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}

.footer-input-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.footer-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  margin-bottom: 20px;
}

.footer-input:hover,
.footer-input:focus {
  border: 0.85px solid #7eb101;
  outline: none;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
  padding-right: 11px;
  padding-bottom: 12px;
}

.footer-button {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background: transparent;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 24px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  border: 2px solid #ffe450;
}

.footer-input-text {
  font-size: 10px;
  margin-bottom: 120px;
}

.footer-link {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-wrap-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-link {
  font-size: 10px;
}

.right-text {
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 118px;
    padding-bottom: 100px;
    background-image: url(../images/fruit-bckg-tab.jpg);
  }

  @media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
    .footer-container {
      background-size: contain;
      background-image: url(../images/fruit-bckg-tab-2x.jpg);
    }
  }

  .logo-footer {
    top: 100px;
    left: 33px;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 28px;
    margin-left: 216px;
    margin-bottom: 57px;
  }

  .input-btn-wrap {
    display: flex;
    gap: 13px;
  }

  .footer-input-text {
    font-size: 12px;
    margin-bottom: 100px;
  }

  .right-wrap {
    display: flex;
    justify-content: space-between;

  }

  .right-wrap-links {
    display: flex;
    gap: 20px;
  }

  .footer-link {
    font-size: 12px;
  }

  .right-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    padding-top: 118px;
    padding-bottom: 100px;
    background-image: url(../images/fruit-bckg-dsk.jpg);
  }

  @media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
    .footer-container {
      background-size: contain;
      background-image: url(../images/fruit-bckg-dsk-2x.jpg);
    }
  }

  .logo-footer {
    left: 21px;
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer-input-wrap {
    align-self: flex-end;
  }
}